TMA1/part1/resume.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resume">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="me">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="address"/>
                <xs:attribute type="xs:string" name="telephone"/>
                <xs:attribute type="xs:string" name="email"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="education">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="qualification">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="establishment"/>
                      <xs:attribute type="xs:string" name="type"/>
                      <xs:attribute type="xs:short" name="from"/>
                      <xs:attribute type="xs:short" name="to"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="employment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="experience">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="achievement" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="establishment"/>
                  <xs:attribute type="xs:string" name="job_title"/>
                  <xs:attribute type="xs:string" name="from"/>
                  <xs:attribute type="xs:string" name="to"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="projects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="project" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="point" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>